@{
    ViewData["Title"] = "Admin Portal";
}

<section>
    <div class="container">
        <h1>@ViewData["Title"]</h1>

@*         <a asp-action="Create" asp-controller="Courses">New Course</a>
        <a asp-action="Index" asp-controller="Courses">New Course</a> *@

    </div>
</section>
