@{
    ViewData["Title"] = "Ooops! PAccess denied";
}

<section id="not-found">
    <div class="container">
        <h2>Ooops! Access denied..</h2>
        <h5>It looks like you are trying to access a page that you do not have access to.</h5>
        <a class="btn-theme-s" asp-controller="Home" asp-action="Index"><i class="fa-sharp fa-light fa-house"></i>Go to homepage</a>
    </div>
</section>
